<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Dashboard</ion-title>
    </ion-toolbar>
    <!-- <ion-button (click)="toggleReorder()">Reorder</ion-button> -->
  </ion-header>

  <!-- Repeat for each thing that goes on the dashboard -->
  <!-- TODO: make this a more dynamic view based on number of items to display -->
  <ion-reorder-group id='reorder' disabled='false'(ionItemReorder)="doReorder($event)">
    <dashboard-card *ngFor='let habit of habits' habitName={{habit.habitName}} habitType={{habit.habitType}}></dashboard-card>
  </ion-reorder-group>

</ion-content>
